# Java & Maven
target/
*.class
*.jar
*.war
*.ear

# Maven Wrapper
.mvn/
!/.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd

# Build output
/build/
!**/src/main/**/build/
!**/src/test/**/build/

# Logs
*.log
logs/
*.tmp
*.swp

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# VS Code
.vscode/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# STS (Spring Tool Suite)
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

# OS files
.DS_Store
Thumbs.db

# Others
HELP.md
